[submodule ".refs/discord.js"]
	path = .refs/discord.js
	url = https://github.com/discordjs/discord.js.git
	shallow = true
[submodule ".refs/effect"]
	path = .refs/effect
	url = https://github.com/Effect-TS/effect.git
	shallow = true
[submodule ".refs/effect-solutions"]
	path = .refs/effect-solutions
	url = https://github.com/kitlangton/effect-solutions.git
	branch = main
	shallow = true
[submodule ".refs/executor"]
	path = .refs/executor
	url = https://github.com/RhysSullivan/executor.git
	branch = main
	shallow = true
[submodule ".refs/incus"]
	path = .refs/incus
	url = https://github.com/lxc/incus.git
	branch = main
	shallow = true
[submodule ".refs/opencode"]
	path = .refs/opencode
	url = https://github.com/anomalyco/opencode.git
	branch = v2
	shallow = true
[submodule ".refs/pi"]
	path = .refs/pi
	url = https://github.com/earendil-works/pi.git
	shallow = true
[submodule ".refs/t3code"]
	path = .refs/t3code
	url = https://github.com/pingdotgg/t3code.git
	branch = main
	shallow = true
[submodule ".refs/mcp-typescript-sdk"]
	path = .refs/mcp-typescript-sdk
	url = https://github.com/modelcontextprotocol/typescript-sdk.git
	shallow = true
