node_modules/
.env
.env.*
!.env.example
!packages/*/.env.example
dist/
coverage/
*.log
*.tsbuildinfo
storage/
.idea/
.vscode/
.DS_Store
/context/
# Ignore subdirs (built image files)
/tools/gondolin-images/*/
!/tools/gondolin-images/README.md
!/tools/gondolin-images/*.json
local-docs/
